{{ header }}
{{ column_left }}

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
		        {% for breadcrumb in breadcrumbs %}
		        	<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		        {% endfor %}
	      	</ul>
		</div>
	</div><!-- end div .page-header -->
	<div id="page-content" class="container-fluid">
		{% if error_warning %}
	    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
	    {% endif %}

		{% if success and success is not empty %}
		<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
			</div>
			<div class="panel-body" >

				<div class="col-sm-2">
					<div class="logo"><h3>{{ heading_title }}</h3></div>
					<div class="slidebar">{% include '/extension/module/eznewsletter/toolbar.twig' %}</div>
					<div class="clear clr"></div>
				</div>

				<div class="col-sm-10">
					<div class="heading"><h3>{{ text_create_newsletter }}</h1></div>
					<div class="toolbar">{% include '/extension/module/eznewsletter/action_bar.twig' %}</div>
					<br/>
					
					<div class="content">
						<!-- content -->
						<div class="panel-body">
							<form class="form-horizontal">
								<input type="hidden" name="draft_id" value="{{ draft_id }}" />
								<div class="form-group"> 
									<label class="col-sm-2 control-label" for="input-store">{{ entry_store }}</label>
									<div class="col-sm-10">
										<select name="store_id" id="input-store" class="form-control">
											<option value="0">{{ text_default }}</option>
											{% for store in stores %}
											{% if store.store_id == store_id %} {% set selected = "selected='selected'" %} {% else %} {% set selected = "" %} {% endif %}
											<option {{ selected }} value="{{ store.store_id }}">{{ store.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-to">{{ entry_to }}</label>
									<div class="col-sm-10">
										<select name="to" id="input-to" class="form-control">
											{% for key,value in tos %}
												{% if key == to %} {% set selected = "selected='selected'" %} {% else %} {% set selected = "" %} {% endif %}
												<option {{ selected }} value="{{ key }}">{{ value }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group to" id="to-customer-group">
									<label class="col-sm-2 control-label" for="input-customer-group">{{ entry_customer_group }}</label>
									<div class="col-sm-10">
										<select name="customer_group_id" id="input-customer-group" class="form-control">
											{% for customer_group in customer_groups %}
											<option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group to" id="to-customer">
									<label class="col-sm-2 control-label" for="input-customer"><span data-toggle="tooltip" title="{{ help_customer }}">{{ entry_customer }}</span></label>
									<div class="col-sm-10">
										<input type="text" name="customers" value="" placeholder="{{ entry_customer }}" id="input-customer" class="form-control" />
										<div class="well well-sm" style="height: 150px; overflow: auto;">
											{% if customers != '' %}
											{% for item in customers %}
											<div id="customer{{ item.customer_id }}">
												<i class="fa fa-minus-circle"></i> {{ item.name }}
												<input type="hidden" name="customer[]" value="{{ item.customer_id }}">
											</div>	
											{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
								<div class="form-group to" id="to-affiliate">
									<label class="col-sm-2 control-label" for="input-affiliate"><span data-toggle="tooltip" title="{{ help_affiliate }}">{{ entry_affiliate }}</span></label>
									<div class="col-sm-10">
										<input type="text" name="affiliates" value="" placeholder="{{ entry_affiliate }}" id="input-affiliate" class="form-control" />
										<div class="well well-sm" style="height: 150px; overflow: auto;">
											{% if affiliates != '' %}
											{% for item in affiliates %}
											<div id="affiliate{{ item.affiliate_id }}">
												<i class="fa fa-minus-circle"></i> {{ item.name }}
												<input type="hidden" name="affiliate[]" value="{{ item.affiliate_id }}">
											</div>	
											{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
								<div class="form-group to" id="to-product">
								<label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
									<div class="col-sm-10">
										<input type="text" name="products" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
										<div class="well well-sm" style="height: 150px; overflow: auto;">
											{% if products != '' %}
											{% for item in products %}
											<div id="product{{ item.product_id }}">
												<i class="fa fa-minus-circle"></i> {{ item.name }}
												<input type="hidden" name="product[]" value="{{ item.product_id }}">
											</div>	
											{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-2 control-label" for="input-subject">{{ entry_subject }}</label>
									<div class="col-sm-10">
										<input type="text" name="subject" value="{{ subject }}" placeholder="{{ entry_subject }}" id="input-subject" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-message">{{ entry_message }}</label>
									<div class="col-sm-10">
										<textarea name="message" placeholder="{{ entry_message }}" id="input-message" class="form-control" data-toggle="summernote">{{ message }}</textarea>
									</div>
								</div>
							</form>
						</div>
						<!-- end content form -->
					</div>
				</div>

			</div><!-- end div .panel-body -->
		</div><!-- end div .panel -->
	</div><!-- end div #page-content -->

</div><!-- end div #content -->

<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

<script type="text/javascript"><!--
$('#input-message').summernote({
	height: 300
});
//--></script>
<script type="text/javascript"><!--
$('select[name=\'to\']').on('change', function() {
	$('.to').hide();

	$('#to-' + this.value.replace('_', '-')).show();
});
$('select[name=\'to\']').trigger('change');
//--></script>
<script type="text/javascript"><!--
// Customers
$('input[name=\'customers\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['customer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'customers\']').val('');

		$('#input-customer' + item['value']).remove();

		$('#input-customer').parent().find('.well').append('<div id="customer' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="customer[]" value="' + item['value'] + '" /></div>');
	}
});

$('#input-customer').parent().find('.well').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

// Affiliates
$('input[name=\'affiliates\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=marketing/affiliate/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['affiliate_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'affiliates\']').val('');

		$('#input-affiliate' + item['value']).remove();

		$('#input-affiliate').parent().find('.well').append('<div id="affiliate' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="affiliate[]" value="' + item['value'] + '" /></div>');
	}
});

$('#input-affiliate').parent().find('.well').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

// Products
$('input[name=\'products\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'products\']').val('');

		$('#input-product' + item['value']).remove();

		$('#input-product').parent().find('.well').append('<div id="product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');
	}
});

$('#input-product').parent().find('.well').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

function draft(url) {
	$('textarea[name=\'message\']').val($('#input-message').text());
	$.ajax({
		url: url,
		type: 'post',
		data: $('#content select, #content input, #content textarea'),
		dataType: 'json',
		complete: function() {
			$('#button-draft').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();

			if (json['error']) {
				if (json['error']['warning']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '</div>');
				}

				if (json['error']['subject']) {
					$('input[name=\'subject\']').after('<div class="text-danger">' + json['error']['subject'] + '</div>');
				}

				if (json['error']['message']) {
					$('textarea[name=\'message\']').parent().append('<div class="text-danger">' + json['error']['message'] + '</div>');
				}
			}

			if (json['success']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
			}

		}
	});
}

function send(url) {
	$('textarea[name=\'message\']').val($('#input-message').text());

	$.ajax({
		url: url,
		type: 'post',
		data: $('#content select, #content input, #content textarea'),
		dataType: 'json',
		complete: function() {
			$('#button-send').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();

			if (json['error']) {
				if (json['error']['warning']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '</div>');
				}

				if (json['error']['subject']) {
					$('input[name=\'subject\']').after('<div class="text-danger">' + json['error']['subject'] + '</div>');
				}

				if (json['error']['message']) {
					$('textarea[name=\'message\']').parent().append('<div class="text-danger">' + json['error']['message'] + '</div>');
				}
			}
			if (json['success']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
			}
			
		}
	});
}
//--></script>
{{ footer }}
