<footer>
  {% if footer_top %}
  <div class="footer-top-cms col-sm-12">
    {{ footer_top }}
  </div>
  {% endif %}
  <div class="footer-top">
    <div class="container">
      <div class="row">
       {% if footer_left %}
       <div class="footer-column footer-left-cms col-sm-3">
         {{ footer_left }}
       </div>
       {% endif %}
       
       {#<div class="col-sm-3 footer-column {{ 'footer-' ~ text_extra|replace({' ': '-'})|lower }}">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>#}
      
       {% if informations %}
      <div class="col-sm-3 footer-column {{ 'footer-' ~ text_information|replace({' ': '-'})|lower }}">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
         <li><a href="{{ information.href }}">{{ information.title }}</a></li>
         {% endfor %}
       </ul>
     </div>
     {% endif %}
      <div class="col-sm-3 footer-column {{ 'footer-' ~ text_service|replace({' ': '-'})|lower }}">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          {#<li><a href="{{ return }}">{{ text_return }}</a></li>#}
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      
      <div class="col-sm-3 footer-column {{ 'footer-' ~ text_account|replace({' ': '-'})|lower }}">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="/index.php?route=account/login">Přihlášení</a></li>           
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="/index.php?route=account/register">Registrace</a></li>  
          {#<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>#}
        </ul>
      </div>

      {% if footer_right %}
      <div class="footer-column footer-right-cms col-sm-3">
        {{ footer_right }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
     {% if footer_bottom %}
     <div class="footer-bottom-cms col-sm-12">
      {{ footer_bottom }}
    </div>
    {% endif %}
    <div class="copyright">{{ powered }}</div>
  </div>
</div>
</div>

</footer>
</div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body></html>