<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet"> 
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--<link href="catalog/view/theme/{{ theme_path }}/stylesheet/EZTemplate/bootstrap.min.css" rel="stylesheet" media="screen" />-->

<link href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" rel="stylesheet" media="screen" />
<link href="catalog/view/theme/OPC010002/stylesheet/EZTemplate/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="catalog/view/theme/OPC010002/stylesheet/stylesheet.css" rel="stylesheet">
<link href="catalog/view/theme/OPC010002/stylesheet/EZTemplate/ezblogstyle.css" rel="stylesheet" type="text/css" />

{% if direction=='rtl' %}
	<link href="catalog/view/theme/OPC010002/stylesheet/EZTemplate/rtl.css" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/OPC010002/stylesheet/EZTemplate/ezblogstyle-rtl.css" rel="stylesheet" type="text/css" />
{% endif %}
<link href="catalog/view/theme/OPC010002/stylesheet/EZTemplate/lightbox.css" rel="stylesheet" type="text/css" />

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}

<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

<!-- EZTemplate custom Theme JS START -->
<script src="catalog/view/javascript/EZTemplate/addonScript.js" type="text/javascript"></script>
<script src="catalog/view/javascript/EZTemplate/lightbox-2.6.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/EZTemplate/waypoints.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/EZTemplate/jquery.elevatezoom.js" type="text/javascript"></script>
<script src="catalog/view/javascript/EZTemplate/jquery.elevatezoom.min.js" type="text/javascript"></script>
<!-- EZTemplate custom Theme JS END -->

{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>

{% if column_left and column_right %}
    {% set layout = 'column-3' %}
{% elseif column_left or column_right %}
    {% set layout = 'column-2' %}
{% else %}
    {% set layout = 'column-1' %}
{% endif %}

{% if column_left %}
    {% set column = 'leftside_column' %}
{% elseif column_right %}
    {% set column = 'rightside_column' %}
{% else %}
    {% set column = '' %}
{% endif %}

<body class="{{ class }} {{ layout }} {{ column }}">
	<div id="page">
		<nav id="top">
			<div class="container">
				<div class="row">
					
					<div class="nav-left">
						{% if header_left %}
						{{ header_left }}
						{% endif %}
					</div>
					<div class="nav-right">
						{{ language }}
						{{ currency }}
						<div class="dropdown header_user_info"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="ezuserheading">{{ text_account }}</span><i class="fa fa-caret-down ezuserinfo"></i></a>
							<ul class="dropdown-menu dropdown-menu-right account-link-toggle">
								{% if logged %}
								<li><a href="{{ account }}"><i class='fa fa-user'></i> {{ text_account }}</a></li>
								<li><a href="{{ order }}"><i class='fa fa-calendar'></i> {{ text_order }}</a></li>
								<li><a href="{{ transaction }}"><i class='fa fa-credit-card'></i> {{ text_transaction }}</a></li>
								<li><a href="{{ download }}"><i class='fa fa-download'></i> {{ text_download }}</a></li>
								<li><a href="{{ logout }}"><i class='fa fa-sign-out'></i> {{ text_logout }}</a></li>
								<li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span>{{ text_wishlist }}</span></a></li>
								{% else %}
								<li><a href="{{ register }}"><i class='fa fa-user'></i> {{ text_register }}</a></li>
								<li><a href="{{ login }}"><i class='fa fa-sign-in'></i> {{ text_login }}</a></li>
								<li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span>{{ text_wishlist }}</span></a></li>
								{% endif %}
							</ul>
						</div>
						<!--<div class="header-phone pull-left"><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></div>-->
						{% if header_top %}
						<div class="header-top-cms">
							{{ header_top }}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
		<header>
			<div class="full-header">
				<div class="header-top">
					<div class="container">
						<div class="row">
							{% if header_top %}
							<div class="header-top-cms">
								{{ header_top }}
							</div>
							{% endif %}

							<div class="header-left">
								<div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
									<h1><a href="{{ home }}">{{ name }}</a></h1>
									{% endif %}
								</div>
							</div>

							<div class="header-right">
								<div class="ezcart">{{ cart }}</div>
								<div class="header-phone">
									<a href="{{ contact }}">
										<span class="phone_callus">{{ text_phone }}</span>
										<span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span>
									</a>
								</div>
								<div class="ezsearch">{{ search }}</div>	
							</div>
						</div>
					</div>
				</div>

				<div class="header-bottom">
							{{ menu }}
						</div>

						{%  if header_right %}
						<div class="nav-right-cms">
							{{ header_right }}
						</div>
						{% endif %}

						{% if header_bottom %}
						<div class="header-bottom-cms">
							{{ header_bottom }}
						</div>
						{% endif %}
					
			</div>
		</header>