{{ header }}
<div class="content_top">
    <div class="container">
        <div class="row">
            <div class="top_content">
                {{ content_top }}
            </div>
        </div>
    </div>
</div>
<div class="ez-home">
         {{ column_left }}
         {% if column_left and column_right %}
         {% set class = 'col-sm-6' %}
         {% elseif column_left or column_right %}
         {% set class = 'col-sm-9' %}
         {% else %}
         {% set class = 'col-sm-12' %}
         {% endif %}
         <div id="content" class="{{ class }}">
           {{ content_bottom }}
         </div>
        {{ column_right }}
</div>
{{ footer }}