<div id="search" class="input-group ezsearchtoggle">
	  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search_placeholder }}" class="form-control input-lg" />
	  <span class="input-group-btn">
		<button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i><!-- <span>{{ text_search }}</span> --></button>
	  </span>
</div>