<div class="bestseller-carousel products-list">
  <div class="container">
    <div class="row">
      <div class="box-heading">{{ heading_title }}</div>
      <div class="products-content">
        <div class="bestseller-items products-carousel">
         {% for product in products %}
        <div class="product-layouts">
          <div class="product-thumb transition">
            <div class="image">
              {% if product.thumb_swap %}
              <a href="{{ product.href }}">
                <img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
                <img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
              </a>
              {% else %}
              <a href="{{ product.href }}">
                <img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
              </a>
              {% endif %}
              {% if product.special %}
              <div class="sale-icon">Sale</div>
              {% endif %}
              {% if product.rating %}
              <div class="rating">
                  {% for i in 1..5 %}
                  {% if product.rating < i %}
                  <span class="fa fa-stack"><i class="fa fa-star-o off fa-stack-2x"></i></span>
                  {% else %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  {% endif %}
                  {% endfor %}
              </div>
              {% endif %}
              <div class="button-group">
                <button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  <span class="addtocart">{{ button_cart }}</span>
                </button>
                <button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i>
                  <span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
                </button>
                <button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-sliders" aria-hidden="true"></i>
                  <span title="{{ button_compare }}">{{ button_compare }}</span>
                </button>
              </div>
            </div>
            <div class="thumb-description">
              <div class="caption">

                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <!--<p class="description">{{ product.description }}</p>-->
                {% if product.price %}
                <div class="price">
                  {% if not product.special %}
                  {{ product.price }}
                  {% else %}
                  <span class="price-new">{{ product.special }}</span> 
                  <div class="percentage"> -{{ product.saving|default }}%</div>
                  <span class="price-old">{{ product.price }}</span>
                  {% endif %}
                  {% endif %} 
                  {% if product.tax %}
                  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                </div>
                {% endif %}
                <div class="button-group side">
                <button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  <span class="addtocart">{{ button_cart }}</span>
                </button>
                </div>
              </div>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>