<div class="brand-carousel">
<div class="container">
<div class="row">
<div class="swiper-viewport">
  <div id="carousel{{ module }}" class="swiper-container brand-items">
    <div class="swiper-wrapper">
	  {% for banner in banners %}
      <div class="swiper-slide text-center">
	  {% if banner.link %}
	  <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
	  {% else %}
	  <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
	  {% endif %}
	  </div>
      {% endfor %}
	  </div>
  </div>
  <div class="swiper-pagination carousel{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
</div>
</div>
</div>
<script type="text/javascript"><!--
$('#carousel{{ module }}').swiper({
	mode: 'horizontal',
	autoplay: 3000,
	//pagination: '.carousel{{ module }}',
	pagination: false,
	paginationClickable: false,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
	loop: true,
	
 // Default parameters
  slidesPerView: 5,
  
  // Responsive breakpoints
  breakpoints: {
	    // when window width is <= 1200px
	    1249: {
	      slidesPerView: 4
	    },
	 	// when window width is <= 991px
	    991: {
	      slidesPerView: 3
	    },
	 	// when window width is <= 767px
	    543: {
	      slidesPerView: 2
	    },
	    // when window width is <= 480px
	    480: {
	      slidesPerView: 1
		}
   }

});
--></script>