<div id="blog_latest_new_home">
<div class="container">
<div class="row">
<div class="box-heading title_block">{{ heading_title }}</div>
<div class="block_content">
<ul id="ezsmartblog-carousel" class="ez-carousel ezblog-content owl-carousel owl-theme">
  {% for blog in blogs %}
  	<li>
	<div class="blog-content">
		{% if blog.image %}
		<div class="ezblog_image_holder blog_image_holder col-xs-12 col-sm-12">
			<a href="{{ blog.href }}">
			<img class="image_thumb" src="{{ blog.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" />
			<div class="blog-hover"></div>
			</a>
			<span class="bloglinks">
				<a class="icon zoom" data-lightbox="example-set" href="{{ blog.image }}" title="Click to view Full Image">
				<i class="fa fa-plus"></i>
				</a> 
			</span>
		</div>
		{% endif %}
		
		<div class="blog-caption blog-sub-content col-xs-12 col-sm-12">
			<span class="blog-date">
				<i class="fa fa-calendar"></i>
				<span class="month">{{ blog.date_added|date('M, Y') }}</span>
				<span class="date">{{ blog.date_added|date('j') }}</span>
			</span>
			<div class="blog-info">
			<div class="post_title"><a href="{{ blog.href }}">{{ blog.title }}</a></div>
			<div class="blog-description"><p>{{ (blog.description|striptags)|slice(0,70) }}</p></div>
			<div class="readmore">
				<a href="{{ blog.href }}" class="read-more">{{ text_read_more }}</a>
			</div>
				<!-- <div class="comment"> <a href="{{ blog.href }}"> <i class="fa fa-comments-o"></i> {{ blog.total_comments }} {{ entry_comment }}</a> </div> -->
			</div>
		</div>
	</div>
	</li>
{% endfor %}	
</ul>
		{# <div class="btn-view-all">
		<button type="button" onclick="location='{{ all_blogs }}" class="btn btn-primary">{{ button_all_blogs }}</button>
		</div> #}
</div>
</div>
</div>
</div>
