<div class="ezproduct-main">
	<div class="container">
		<div class="row">
			<div class="EZProduct-Tab EZ-product-carousel products-list">
				<div class="box-heading ezhometab-title">{{ heading_title }}</div>
				<div id="EZPTab-{{ module }}" class="tab-box-heading">
					<ul class="nav nav-tabs">
						{% if featured_products%}
						<li><a href="#tab-featured-{{ module }}" data-toggle="tab">{{ tab_featured }}</a></li>
						{% endif %}
						{% if latest_products%}
						<li><a href="#tab-latest-{{ module }}" data-toggle="tab">{{ tab_latest }}</a></li>
						{% endif %}
						{% if bestseller_products%}
						<li><a href="#tab-bestseller-{{ module }}" data-toggle="tab">{{ tab_bestseller }}</a></li>
						{% endif %}
						{% if special_products%}
						<li><a href="#tab-special-{{ module }}" data-toggle="tab">{{ tab_special }}</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="tab-content">
					{% if featured_products %}
					{% set cnt = 1 %}
					{% set tcnt_f = featured_products|length %}

					<div id="tab-featured-{{ module }}" class="tab-pane">
						<div class="products-content">
							<div class="products-carousel">
								{% for product in featured_products %}
								{% if tcnt_f >= 5 %}
								{% if cnt is divisible by(2) %}
								{% else %}
								<div class='single-column'>
									{% endif %}
									{% endif %}
									<div class="product-layouts">
										<div class="product-thumb transition">
											<div class="image">
												{% if product.thumb_swap %}
												<a href="{{ product.href }}">
													<img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
													<img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
												</a>
												{% else %}
												<a href="{{ product.href }}">
													<img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
												</a>
												{% endif %}
												{% if product.special %}
												<div class="sale-icon">Sale</div>
												{% endif %}
												{% if product.rating %}
												<div class="rating">
													{% for i in 1..5 %}
													{% if product.rating < i %}
													<span class="fa fa-stack"><i class="fa fa-star-o off fa-stack-2x"></i></span>
													{% else %}
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
													{% endif %}
													{% endfor %}
												</div>
												{% endif %}
												<div class="button-group">
													<button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
														<span class="addtocart">{{ button_cart }}</span>
													</button>
													<button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i>
														<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
													</button>
													<button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-sliders" aria-hidden="true"></i>
														<span title="{{ button_compare }}">{{ button_compare }}</span>
													</button>
												</div>
											</div>
											<div class="thumb-description">
												<div class="caption">

													<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
													<!--<p class="description">{{ product.description }}</p>-->
													{% if product.price %}
													<div class="price">
														{% if not product.special %}
														{{ product.price }}
														{% else %}
														<span class="price-new">{{ product.special }}</span>
														<div class="percentage"> -{{ product.saving|default }}%</div>
														<span class="price-old">{{ product.price }}</span>
														{% endif %}
														{% endif %} 
														{% if product.tax %}
														<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
													</div>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
									{% if tcnt_f >= 5 %}
									{% if cnt is divisible by(2) %}
								</div>
								{% endif %}
								{% endif %}

								{% set cnt = cnt + 1 %}

								{% endfor %} {# foreach END #}

								{% set cnt = 1 %}
								{% if tcnt_f >= 5 %}
								{% if tcnt_f is divisible by(2) %}
								{% else %}
							</div>
							{% endif %} 
							{% endif %}
						</div>
					</div>
				</div>
				{% endif %}

				{% if latest_products%}
				{% set cnt = 1 %}
				{% set tcnt_l = latest_products|length %}
				<div id="tab-latest-{{ module }}" class="tab-pane">
					<div class="products-content">
						<div class="products-carousel">
							{% for product in latest_products %}
							{% if tcnt_l >= 5 %}
							{% if cnt  is divisibleby(2) %}
							{% else %}
							<div class='single-column'>
								{% endif %}
								{% endif %}
								<div class="product-layouts">
									<div class="product-thumb transition">
										<div class="image">
											{% if product.thumb_swap %}
											<a href="{{ product.href }}">
												<img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
												<img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
											</a>
											{% else %}
											<a href="{{ product.href }}">
												<img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
											</a>
											{% endif %}
											{% if product.special %}
											<div class="sale-icon">Sale</div>
											{% endif %}
											{% if product.rating %}
											<div class="rating">
												{% for i in 1..5 %}
												{% if product.rating < i %}
												<span class="fa fa-stack"><i class="fa fa-star-o off fa-stack-2x"></i></span>
												{% else %}
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
												{% endif %}
												{% endfor %}
											</div>
											{% endif %}
											<div class="button-group">
												<button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
													<span class="addtocart">{{ button_cart }}</span>
												</button>
												<button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i>
													<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
												</button>
												<button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-sliders" aria-hidden="true"></i>
													<span title="{{ button_compare }}">{{ button_compare }}</span>
												</button>
											</div>
										</div>
										<div class="thumb-description">
											<div class="caption">

												<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
												<!--<p class="description">{{ product.description }}</p>-->
												{% if product.price %}
												<div class="price">
													{% if not product.special %}
													{{ product.price }}
													{% else %}
													<span class="price-new">{{ product.special }}</span> 
													<div class="percentage"> -{{ product.saving|default }}%</div>
													<span class="price-old">{{ product.price }}</span>
													{% endif %}
													{% endif %} 
													{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
												</div>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
								{% if tcnt_l >= 5 %}
								{% if cnt is divisible by(2) %}
							</div>
							{% endif %}
							{% endif %}
							{% set cnt = cnt + 1 %}

							{% endfor %}
							{% set cnt = 1 %}
							{% if tcnt_l >= 5 %} 
							{% if tcnt_l  is divisibleby(2) %}
							{% else %}
						</div>
						{% endif %} 
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}


			{% if bestseller_products%}
			{% set cnt = 1 %}
			{% set tcnt_b = bestseller_products|length %}

			<div id="tab-bestseller-{{ module }}" class="tab-pane">
				<div class="products-content">
					<div class="products-carousel">
						{% for product in bestseller_products %}
						{% if tcnt_b >= 5 %}
						{% if cnt  is divisibleby(2) %}
						{% else %}
						<div class='single-column'>
							{% endif %}
							{% endif %}
							<div class="product-layouts">
								<div class="product-thumb transition">
									<div class="image">
										{% if product.thumb_swap %}
										<a href="{{ product.href }}">
											<img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
											<img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
										</a>
										{% else %}
										<a href="{{ product.href }}">
											<img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
										</a>
										{% endif %}
										{% if product.special %}
										<div class="sale-icon">Sale</div>
										{% endif %}
										{% if product.rating %}
										<div class="rating">
											{% for i in 1..5 %}
											{% if product.rating < i %}
											<span class="fa fa-stack"><i class="fa fa-star-o off fa-stack-2x"></i></span>
											{% else %}
											<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
											{% endif %}
											{% endfor %}
										</div>
										{% endif %}
										<div class="button-group">
											<button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
												<span class="addtocart">{{ button_cart }}</span>
											</button>
											<button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i>
												<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
											</button>
											<button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-sliders" aria-hidden="true"></i>
												<span title="{{ button_compare }}">{{ button_compare }}</span>
											</button>
										</div>
									</div>
									<div class="thumb-description">
										<div class="caption">

											<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
											<!--<p class="description">{{ product.description }}</p>-->
											{% if product.price %}
											<div class="price">
												{% if not product.special %}
												{{ product.price }}
												{% else %}
												<span class="price-new">{{ product.special }}</span> 
												<div class="percentage"> -{{ product.saving|default }}%</div>
												<span class="price-old">{{ product.price }}</span>
												{% endif %}
												{% endif %} 
												{% if product.tax %}
												<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
											</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							{% if tcnt_b >= 5 %}
							{% if cnt is divisible by(2) %}
						</div>
						{% endif %}
						{% endif %}
						{% set cnt = cnt + 1 %}

						{# foreach END
							#}
							{% endfor %}
							{% set cnt = 1 %}
							{% if tcnt_b >= 5 %} 
							{% if tcnt_b is divisibleby(2) %}
							{% else %}
						</div>

						{% endif %} 
						{% endif %}  
					</div>
				</div>
			</div>
			{% endif %}
			
			{% if special_products %}
			{% set cnt = 1 %}
			{% set tcnt_s = special_products|length %}
			<div id="tab-special-{{ module }}" class="tab-pane">
				<div class="products-content">
					<div class="products-carousel">
						{% for product in special_products %}
						{% if tcnt_s >= 5 %}
						{% if cnt  is divisibleby(2) %}
						{% else %}
						<div class='single-column'>
							{% endif %}
							{% endif %}	

							<div class="product-layouts">
								<div class="product-thumb transition">
									<div class="image">
										{% if product.thumb_swap %}
										<a href="{{ product.href }}">
											<img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
											<img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
										</a>
										{% else %}
										<a href="{{ product.href }}">
											<img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
										</a>
										{% endif %}
										{% if product.special %}
										<div class="sale-icon">Sale</div>
										{% endif %}
										{% if product.rating %}
										<div class="rating">
											{% for i in 1..5 %}
											{% if product.rating < i %}
											<span class="fa fa-stack"><i class="fa fa-star-o off fa-stack-2x"></i></span>
											{% else %}
											<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
											{% endif %}
											{% endfor %}
										</div>
										{% endif %}
										<div class="button-group">
											<button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
												<span class="addtocart">{{ button_cart }}</span>
											</button>
											<button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i>
												<span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
											</button>
											<button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-sliders" aria-hidden="true"></i>
												<span title="{{ button_compare }}">{{ button_compare }}</span>
											</button>
										</div>
									</div>
									<div class="thumb-description">
										<div class="caption">

											<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
											<!--<p class="description">{{ product.description }}</p>-->
											{% if product.price %}
											<div class="price">
												{% if not product.special %}
												{{ product.price }}
												{% else %}
												<span class="price-new">{{ product.special }}</span> 
												<div class="percentage"> -{{ product.saving|default }}%</div>
												<span class="price-old">{{ product.price }}</span>
												{% endif %}
												{% endif %} 
												{% if product.tax %}
												<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
											</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							{% if tcnt_s >= 5 %}
							{% if cnt  is divisibleby(2) %}
						</div>
						{% endif %}
						{% endif %}
						{% set cnt = cnt + 1 %}

						{# foreach END
							#}
							{% endfor %}
							{% set cnt = 1 %}
							{% if tcnt_s >= 5 %} 
							{% if tcnt_s is divisibleby(2) %}
							{% else %}
						</div>
						{% endif %} 
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
</div>
</div>
<script type="text/javascript">
	$('.EZProduct-Tab > .tab-box-heading > ul > li:first-child').addClass('active');
	$('.EZProduct-Tab > .tab-content > .tab-pane:first-child').addClass('active');
/*	var eztrendingproducts = $(".EZProduct-Tab .products-carousel.owl-carousel");
	eztrendingproducts.owlCarousel({
		items:2,
		itemsDesktop : [1170,4],
		itemsDesktopSmall : [991,3],
		itemsTablet: [767,2],
		itemsMobile : [480,1],
		navigation: true,
		pagination: false
	});*/
</script>