<div class="main-slider_inner">
<div class="slideshow-panel">
<div class="ezloading-bg ezloader"></div>
<div class="swiper-viewport">
  <div id="slideshow{{ module }}" class="slideshow-main swiper-container">
    <div class="swiper-wrapper"> 
	  {% for banner in banners %}
      	<div class="swiper-slide text-center">
			{% if banner.link %}
				<a href="{{ banner.link }}">
				<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
				</a>
				{% else %}
				<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
			{% endif %}
		</div>
      {% endfor %}
   </div>
   	<div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
  </div>
  </div>
</div>
  
</div>
</div>
<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 0,
	autoplay: 4000,
    autoplayDisableOnInteraction: true,
	loop: true,
    effect: 'slide'
})
--></script>