/*------------------------------------ Blog HomePage CSS Start ---------------------------------------------*/
#blog_latest_new_home {
	float: right;
}
#ezsmartblog-carousel .blog-content .blog-date,
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-date{
	float: right;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-info {
    float: right;
    padding-left: 0;
    padding-right: 18px;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li:hover .blog-content .ezblog_image_holder .blog-date {
    left: -100%;
    right: auto;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .blog-tool > span {
    padding: 0 0 0 20px;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .ezreadMore,
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool i {
    float: right;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool > p {
    padding: 0 60px 0 0;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .name {
    padding: 0 0 0 15px;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .created span {
    padding: 0 15px 0 0;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .blog-tool > span::after {
    right: auto;
    left: 5px;
}
#blog_latest_new_home .block_content #ezsmartblog-carousel .blog-content .blog-sub-content {
	float: right;
	text-align:right;
}
#blog_latest_new_home .block_content #ezsmartblog-carousel li .blog-content .blog_image_holder {
	float: left;
}
#blog_latest_new_home .block_content #ezsmartblog-carousel li .blog-content .blog_image_holder {
	float: right;
}
#ezsmartblog-carousel li.blogli li.item.odd .blog_image_holder {
	float: left !important;
}
#ezsmartblog-carousel .blog-content .comment .fa-comments-o {
	padding: 0 0 0 5px;
}


@media (max-width: 480px) {	

  #module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool > p {
    padding: 0;
  }

  #module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply {
    width: 100%;
    text-align: right;
    margin: 0 0 10px;
  }
  #module-ezblog-details .blog-extra #article_comments #comments .comment-list li ul li .comment-content {
    padding: 10px 20px 10px 0;
  }
}
/*------------------------------------ Blog HomePage CSS Start ---------------------------------------------*/


/*-------------------------------------- Blog Category Page CSS Start -------------------------------------*/
	#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog {
		float: right;
	}
	#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content {
		float: right;
	}
	#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .sdsreadMore {
		float: right;
	}

/*-------------------------------------- Blog Category Page CSS End -------------------------------------*/




