/*---------------------------------------------------------- Blog Common css start ----------------------------------------------------*/
.blog-content .image_thumb {
	width: 100%;
}
#ezsmartblog-carousel.owl-carousel {
    border: none;
	list-style: none;
}

#ezsmartblog-carousel .owl-item > li {
    float: left;
    width: 100%;
}
.comment-list {
	float: left;
	width: 100%;
    list-style: none;
	border: none;
	padding: 20px 40px;
}
.comment-list .panel.panel-default {
    background: none;
    border: none;
    margin: 0;
}
.ezblogcomments {
    float: left;
    width: 100%;
}
.ezblogcomments > div {
    float: left;
    padding: 20px;
    width: 100%;
}
#add-comment .alert.alert-info {
    margin: 0;
}
#article_comments h3.title_block {
    float: left;
    width: 100%;
}
.comments-block {
    background: #fff;
    float: left;
    width: 100%;
}

#ezsmartblog-carousel .blog-content {
    float: left;
    width: 100%;
}

#ezsmartblog-carousel .comment {
    display: none;
}

/*------------------------------------------------------------- Blog Common css End --------------------------------------------*/

/*---------------Start Home page css--------*/
.blog-date .fa-calendar {
    display: none;
}
#blog_latest_new_home {
  float: left;
  width: 100%;
  padding: 0;
  margin:42px auto 30px;
  position: relative;
}
#blog_latest_new_home .block_content {
  margin: 0 -15px;
}
#blog_latest_new_home .box-heading{
	margin:0 0 4px;
}

#blog_latest_new_home .block_content ul#ezsmartblog-carousel {
  float: left;
  width: 100%;
  background: none;
  padding: 0;
  margin:0;
}

#ezsmartblog-carousel .blog-content .post_title {
  margin: 0 0 7px 0;
  clear: both;
  overflow: hidden;
  width: 100%;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li {
  padding: 15px;
  text-align: left;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog_image_holder {
  overflow: hidden;
  padding: 0;
  position: relative;
  border-radius:5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -khtml-border-radius: 5px;
  border:none;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog_image_holder a > img {
  height: auto;
  max-width: 100%;
  width: 100%;
  border-radius:5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -khtml-border-radius: 5px;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog_image_holder a .blog-hover {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  width: 100%;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog_image_holder .bloglinks,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content .bloglinks {
  height: 42px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 44%;
  width: 42px;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content .bloglinks a {
  border: 2px solid #fff;
  color: #ffffff;
  float: left;
   width: 40px;
  padding: 12px 13px;
  height: 40px;
  opacity: 0;
  -moz-opacity: 0; 
	-khtml-opacity: 0; 
	-webkit-opacity: 0; 
    border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -khtml-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  background: #aa805a;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a i,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content .bloglinks i {
  float: left;
  font-size: 14px;
  font-weight: normal;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a:hover,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content .bloglinks a:hover {
  background: #000;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a:hover i,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content .bloglinks a:hover i  {
  color: white;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content {
  margin: 0;
  padding: 20px 0;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-date {
  position: relative;
  background-color: #fff;
  padding: 0;
  float: left;
  width: 25%;;
  display: inline-block;
  text-align: center;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-date .month{
  color: #fff;
  font-size: 12px;
  position: relative;
  background-color: #aa805a;
  line-height: 24px;
  letter-spacing: 0.98px;
  float: left;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-date .date {
  border: 1px solid #cfcfcf;
  float: left;
  width: 100%;
  display: inline-block;
  border-top: none;
  font-size: 50px;
  line-height: 49px;
  letter-spacing: 1.5px;
  color: #aa805a;
  font-family: "Roboto Slab";
  padding: 9px 0;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-info {
  position: relative;
  background-color: #fff;
  padding: 0;
  float: left;
  width: 75%;;
  display: inline-block;
  padding-left: 18px;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content .post_title a,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .article-header .blog-title a {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  font-family: "Roboto Slab";
  letter-spacing: 1px;
  color: #353535;
  text-transform: capitalize;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin-bottom: 2px;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content .post_title a:hover,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .article-header .blog-title a:hover {
  color: #aa805a;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .article-header .blog-title a {
  white-space: normal;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content .blog-description,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .ezarticle-des .blog-desc {
    color: #898989;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content .blog-description p,
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .ezarticle-des .blog-desc p{
    margin: 0;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content .post_title a:hover a i {
  color: #333333;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content .readmore {
    margin: 1px 0 0;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content .read-more {
  color: #aa805a;
  text-transform: capitalize;
  letter-spacing: 1.12px;
  line-height: 21px;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li .blog-content .blog-sub-content .read-more:hover {
  color: #000;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li:hover .blog-content .blog_image_holder a .blog-hover {
		 background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
#blog_latest_new_home .block_content ul#ezsmartblog-carousel li:hover .blog-content .blog_image_holder .bloglinks a {
  opacity: 1;
-moz-opacity: 1; 
-khtml-opacity: 1; 
-webkit-opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

@media (max-width: 480px) {
#blog_latest_new_home {
    margin: 10px auto 30px;
}
}

/*--------------------------------------------------- End Home page css ----------------------------------------------*/
/*------------------------------------------------ Start blog category css ------------------------------------------*/
#module-ezblog-category .blog-cat-title {
    display: none;
}
#module-ezblog-category {
    float: left;
    padding: 0;
    width: 100%;
}

#module-ezblog-details .blog-detail .blog_image_holder img {
    max-width: 100%;
    width: 100%;
}
#module-ezblog-category #blog_category {
  margin: 0 0 30px;
  border: 1px solid #dcdcdc;
}
#module-ezblog-category #blog_category > img {
  width: 100%;
}
#module-ezblog-category #blog_category .cat-blog-content {
  padding: 10px;
  text-align: left;
}
#module-ezblog-category #blog_category .cat-blog-content .blog-cat-title {
  font-size: 18px;
  text-transform: capitalize;
}
#module-ezblog-category #blog_category .cat-blog-content .blog-cat-title a {
  color: #333333;
}
#module-ezblog-category #blog_category .cat-blog-content .ezblog-cat-desc {
  line-height: 24px;
}
#module-ezblog-category #ezblogcat .blog-item {
  width: 100%;
  padding: 0 0 30px;
}
#module-ezblog-category #ezblogcat .blog-item:last-child {
	padding: 0;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost {
  float: left;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content {
  padding: 0;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .article-content .blog-hover {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  width: 100%;
}

#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog {
  float: left;
  padding: 5px 15px;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .article-header {
    display: inline-block;
    width: 100%;
    float: left;
    margin: 0 auto 10px;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .blog-tool {
  margin: 0 0 10px;
  display: inline-block;
  width: 100%;
  float: left;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .blog-tool > span {
  padding: 0 20px 0 0;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  font-size: 12px;
}

#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .blog-tool > span:after {
  content: "-";
  position: absolute;
  right: 5px;
  top: 0;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .blog-tool > span:last-child:after {
  display: none;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .article-header .blog-title {
  margin: 0;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .ezarticle-des {
  margin: 0 0 15px;
  display: inline-block;
  width: 100%;
  float: left;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .ezarticle-des .blog-desc {
  float: left;
  width: 100%;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .ezreadMore {
  float: left;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .ezreadMore .more a {
  float: left;
  text-transform: capitalize;
  color: #aa805a;
}
#module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog .ezreadMore .more a:hover {
  color: #000;
}
#module-ezblog-category #ezblogcat .blog-item:hover .ezblogpost .article-content a .blog-hover {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
#module-ezblog-category #ezblogcat .blog-item:hover .ezblogpost .article-content .bloglinks a {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#module-ezblog-category #pagination_bottom {
  text-align: right;
}
@media (max-width: 767px) {
  #module-ezblog-category #ezblogcat .blog-item .ezblogpost .out-content-blog {
    padding: 15px 0;
  }
}


/*---------------------------------------------End blog category css---------------------------------*/
/*------------------------------------------- Start blog details css -------------------------------*/
#module-ezblog-details #content .blog-post .blog_image_holder {
  padding: 0 0 20px;
  float: left;
  width: 100%;
}
#module-ezblog-details #content .blog-post .blog_image_holder a img {
  width: 100%;
}
#module-ezblog-details #content .blog-post .blog-detail-content {
  float: left;
  width: 100%;
}
#module-ezblog-details #content .blog-post .blog-detail-content .article-desc {
  margin: 0 0 20px;
}
#module-ezblog-details #content .blog-post .blog-detail-content .article-desc p {
  line-height: 24px;
}
#module-ezblog-details .blog-extra {
  float: left;
  width: 100%;
}
#module-ezblog-details .blog-extra #article_comments {
  float: left;
  width: 100%;
}
#module-ezblog-details .blog-extra #article_comments .title_block {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
#module-ezblog-details .blog-extra #article_comments #comments {
  float: left;
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 0;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list {
  float: left;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  margin: 0;
  padding: 15px;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content {
  padding: 10px 0;
  position: relative;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool {
  display: inline-block;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool i {
  margin: 0;
  float: left;
  font-size: 40px;
  width: 60px;
  color: #555;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .name {
  display: inline-block;
  font-size: 16px;
  padding: 0 15px 0 0;
  color: #000;
  text-transform: capitalize;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .created {
  display: inline-block;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .created:before {
  background: #aa805a;
  border-radius: 50%;
  color: #aa805a;
  content: "";
  display: inline-block;
  height: 4px;
  vertical-align: middle;
  width: 4px;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .created span {
  padding: 0 0 0 15px;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool > p {
  margin: 20px 0 0;
  color: #555;
  padding: 0 0 0 60px;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply {
  display: inline-block;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 0;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply a {
  text-transform: capitalize;
  color: #aa805a;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li ul {
  border: none;
  padding: 0;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list li ul li .comment-content {
  padding: 40px 0 40px 80px;
  border-top: 1px solid #dcdcdc;
}
#module-ezblog-details .blog-extra #article_comments #comments .comment-list:last-child {
  border: none;
}
#module-ezblog-details .blog-extra #respond {
  float: left;
  width: 100%;
  margin: 25px 0;
}
#module-ezblog-details .blog-extra #respond #reply-title {
  color: #000;
  font-size: 18px;
  font-weight: normal;
}
#module-ezblog-details .blog-extra #respond #commentInput #commentform td {
  padding: 10px 10px 10px 0;
}
#module-ezblog-details .blog-extra #respond #commentInput #commentform td strong {
  font-size: 13px;
  color: #000;
}
#module-ezblog-details .blog-extra #respond #commentInput #commentform td .required {
  color: #aa805a;
}
#module-ezblog-details .blog-extra #respond #commentInput #commentform td input {
  border-color: #dcdcdc;
}

#module-ezblog-details .blog-extra #respond .right {
  float: right;
}

#module-ezblog-details .blog-extra #respond .right .submit input {
  padding: 8px 20px;
}


@media (max-width: 480px) {
  #module-ezblog-details #content .blog-post .blog-detail-content .article-desc {
    margin: 0 0 10px;
  }
  #module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool > p {
    padding: 0;
    margin: 30px 0 0;
  }

  #module-ezblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply {
    width: 100%;
    text-align: right;
    margin: 0 0 10px;
  }
  #module-ezblog-details .blog-extra #article_comments #comments .comment-list li ul li .comment-content {
    padding: 10px 0 10px 20px;
  }
  .ezblogcomments > div {padding: 0;}
}

/*------------------------------------------------ End blog details css -------------------------------------------*/


#respond .success {
  font-weight: normal;
  background-color: #DDF9E1;
  border-color: #46A74E;
  text-shadow: none;
  color: #35B33F;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
#respond .success:before {
  font-family: "FontAwesome";
  content: "\f058";
  font-size: 20px;
  vertical-align: -2px;
  padding-right: 7px;
}
