* { direction: rtl; }
#content,#column-left,.nav-left,header .header-left,.product-product .nav-tabs > li,.main-slider,#ez_servicecms,.service_block,#ezbanner2 .banner_title{float: right; }

#column-right,.nav-right,.header_user_info,header .header-right,.ezcart,#cart,#header-search > .form-control,.ezsearch,#ezbanner1, #ezbanner2{ float: left; }

.pull-right {float: left !important;}
.pull-left {float: right !important;}

.category-list > h3,#column-left .panel-heading,#column-right .panel-heading,#column-right .panel-heading,#column-left .box-heading  {text-align: right;}


.column-2.leftside_column #column-left,.column-2.rightside_column #content,.column-3 #column-right{
    padding-left: 15px;
    padding-right: 0;
}
.column-2.rightside_column #column-right,.column-2.leftside_column #content,.column-3 #column-left{ 
    padding-right: 15px;
    padding-left: 0;
}
.option-filter a.list-group-item::after {
    right: auto;
    text-align: left;
    left: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#header-search .select-wrapper select { margin: 0 0 0 -1px; }
.input-group .form-control { float: right; }


#menu .more-menu .list-unstyled.childs_1 > li > a::after {
	left: auto;
	right: 0;
}
#cart .header-cart-toggle li p.text-right {text-align: right;}
#top .fa.fa-caret-down {padding: 0 2px 0 0;float: right;}
.ezcart #cart i.fa-shopping-bag {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.ezcart #cart .cart-detail{
    float: right;
    text-align: right;
    background-position:  right 5px top 1px;
    padding: 0 51px 0 0;
}
.ezcart #cart #cart-total{
    float: right;
    text-align: right;
}
#cart-total .cart-count {
    right: 0;
    left: auto;
}
#cart-title {float: right;}
.owl-carousel .owl-controls .owl-buttons {
	direction: ltr;
}
#cart .dropdown-menu {
	left: 0;
	right: auto;
}
#cart .dropdown-menu::after,

.header_user_info ul.dropdown-menu,
#form-currency .btn-group ul.dropdown-menu.currency-toggle,
#form-language .btn-group ul.dropdown-menu.language-toggle {
    left: 0;
    right: auto;
}
#form-currency .btn-group .dropdown-menu.currency-toggle li button,
#form-language .btn-group .dropdown-menu.language-toggle li button,
.header_user_info .dropdown-menu.account-link-toggle li a {
	text-align: right;
}
#menu .navbar-collapse li.dropdown > i { left: 0px; right: auto; }

#menu .dropdown-inner ul.list-unstyled.mega-dropdown-menu { border-right:medium none;border-left:medium none; }
#menu .dropdown-inner ul.list-unstyled.mega-dropdown-menu:last-child { border: 0; }
#top-links > li:first-child { padding-left: 5px; padding-right: 0px; }
#top-links > li:last-child { padding-left: 0px; padding-right: 5px; }
#top .btn-link, #top-links li, #top-links a { text-align: right; }
#currency .btn.dropdown-toggle, #language .btn.dropdown-toggle { margin-left: 15px; margin-right: 0px; }
#top-links > ul > li,.ezsearch #search{ float:right; }


#top-links .dropdown-menu-right { left: 0; right: auto; }
.customNavigation { left: 0; right: auto; direction: ltr; }
.dropdown-menu, .product-list .caption .sale-icon { left: auto; right: 0; }
.select-wrapper::after { left: 10px; right: auto; }
#top #currency .currency-select, #top #language .language-toggle a { text-align: right; }
#cart .dropdown-menu li p a strong i.fa { padding: 0 0 0 3px; }
#menu #category { float: right; }

header .header-bottom.fixed #menu {float: right;}
header .header-bottom.fixed  .ezcart {float: left;}

@media (min-width:768px) {
    .navbar-nav,.navbar-nav>li {float: right;}

}
#eznavoffer {
    text-align: right;
    float: right;
}
#menu .navbar-nav > li{float: right;}
.header-bottom #menu {float: right;}
#menu .nav > li:first-child > a,
#menu .nav > li:first-child > span{
	padding-left: 22px;
	padding-right: 0;
}
#menu .dropdown-menu {
    padding: 10px 10px 10px 0;
    text-align: right;
}
#menu ul.nav li .single-dropdown-menu  ul.list-unstyled li.dropdown .dropdown-menu,
#menu ul.nav li.more-menu  ul.list-unstyled li.dropdown .dropdown-menu {
    left: auto;
    right: 100%;
}
#menu ul.nav > li.dropdown:hover > .dropdown-menu {  }

#menu ul.nav ul.list-unstyled.single-dropdown-menu li.dropdown > a:after {
	content: '\f104';
	position: absolute;
	left: 5px;
	right: auto;
}
.slideshow-panel .item {
	 direction: ltr;
}

.products-list .thumb-items { float: right; }
.products-list .thumb-items:last-child { padding: 10px 10px 10px 0px; }
.products-list .thumb-items:first-child { padding: 10px 0px 10px 10px; }
.page-title {
	float: right;
    text-align: right;
}
.breadcrumb {
	 float: right;
     text-align: right;
}
.footer-bottom .footer-extra-link .list-unstyled > li {
	border-right: 1px solid #777777;
	border-left: none;
	padding: 0px 8px 0 5px;
}
/* purchase theme block*/
.footer-top-cms .news-letter-inner {
	padding-right: 0;
	padding-left: 5%;
}
.purchage-theme {
	padding-left: 0;
	padding-right: 5%;
}
/* Footer RTL Stylesheet */

/* Solve some Bootstrap RTL Issues */
.form-horizontal .control-label { text-align: left;}

.radio-inline, .checkbox-inline { padding-left: 0px; padding-right: 20px; }
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline { margin-left: 0px; margin-right: 10px; }

/* Category page RTL */
#column-right { clear: left;}
#column-left { clear: right;}
#column-left .product-thumb .button-group, 
#column-right .product-thumb .button-group, 
#header-left .product-thumb .button-group, 
#header-right .product-thumb .button-group, 
#footer-left .product-thumb .button-group, 
#footer-right .product-thumb .button-group{
	float:right;
}
.category-description .category-image, .category-description .category-content { float: right; }
.breadcrumb > li + li:before { content:'\f104'; float: right; }

.category-filter .filter-grid-list, .category-filter .filter-show .text-right, .category-filter .filter-sort-by .text-right { float: right;text-align: right; }
.category-filter .filter-text { margin: 7px 0 0 5px;padding: 0 0 0 10px;}
.category-filter .filter-sort-by, .category-filter .filter-show { float: right; }
.category-filter .sortby_show {float: left;}
.category-treeview li.category-li .list-tree::before { left: 5px; right: auto; }
.category-filter .filter-grid-list button{ float:right;}
/* category Product Grid List */
.category-list ul li { margin: 5px 0 5px 5px; }

.product-list .product-thumb .image { float: right;border-left: 1px solid #b7b7b7;border-right: none; }
.product-list .product-thumb .button-group{ float:right;}
.product-list .product-thumb .button-group button{
	float:right;
}
/*.product-layout, .product-list .product-thumb .image, .product-thumb .button-group button { float: right; }*/
.product-list .product-thumb { text-align: right; }
.list-group .panel-footer {text-align: left;}
/* Column Left Right Style*/
.option-filter-box a.list-group-item:after { left: 0; right: auto;text-align: left; }
.checkbox-wrapper {margin: -2px 0 0 5px;}
#column-left .product-thumb .image,
#column-right .product-thumb .image { float: right; }
#column-left .product-thumb .caption,#column-right .product-thumb .caption { text-align: right; }
#column-left .products-list .row > div .image, #column-right .products-list .row > div .image,
#column-left .products-list .row > div .caption, #column-right .products-list .row > div .caption { text-align: right; }
#column-left .product-thumb .caption .sale-icon, #column-right .product-thumb .caption .sale-icon { left: auto; right: 0; }
#column-left .product-thumb .button-group button.btn-cart, #column-right .product-thumb .button-group button.btn-cart, #header-left .product-thumb .button-group button.btn-cart, #header-right .product-thumb .button-group button.btn-cart, #footer-left .product-thumb .button-group button.btn-cart, #footer-right .product-thumb .button-group button.btn-cart {
	float: right;
}
#column-left .products-list .row > div .image,#column-right .products-list .row > div .image{margin-right: 0;margin-left:10px;}

/* Product page RTL 
.product-image, .product-tabs .nav-tabs > li { float: right; }
*/
.product-product .btn.btn-default{
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius:0;
	border-top-right-radius:0;
}
.product-details .product-info .product-info-value {
	padding: 3px 10px 3px 3px;
}
.product-details .fa.fa-shopping-cart {
	padding-right: 0;
	padding-left: 5px;
}
.product-product .product-details .btn-group button {margin: 0 0 5px 15px; float: right; }
#content ul.list-unstyled.product-price li {padding-right: 0;padding-left: 5px;}
.product-product .product-details .addthis_toolbox > a:last-child { margin: 0px; }
.rating .product-rating,
.product-details .rating > a::before { margin:0px; }
.product-details .rating > a:last-child{border-left:medium none;}
.product-details .rating > a,.rating .product-rating{border-left: 1px solid #d5d5d5;margin: 0 0 0 10px;padding: 0 0 0 10px; float: right;border-right: none;}
.product-total-review .fa.fa-comment, .product-write-review .fa.fa-pencil{margin:0  0 0 5px;}
.product-product .btn-group {float: right;width: 100%;}
#content .product-images, #content .product-details, .tab-content { float: right; }
.tab-content ul, .tab-content ol { padding-left: 0px; padding: 0 15px 0 0; }
.text-left { text-align: right; }
.text-right { text-align: left; }
.category-pagination .text-left, .rating .product-rating, .addthis_toolbox, .nav-tabs > li { float: right; }
.product-quantity label, .product-quantity #input-quantity { margin: 0 0 0 10px; float: right; }
.product-details .addthis_toolbox{width:auto;float:right;}
#menu .nav > li.dropdown::after{ left: 7px;right: auto;}
.product-tabs .tab-content {text-align: right;}

.category-pagination .text-right { float: left; }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {float: right; margin: 4px 0 0 5px; }


.EZProduct-Tab .nav-tabs > li,.product-thumb .image {float: right;}
.nav-tabs > li::before {
    right: auto;
    left: -6px;
}
.product-thumb .sale-icon { 
    left:auto; 
    right: -18px; 
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -o-transform: rotate(43deg);
    transform: rotate(43deg);
}
#content .products-carousel .thumb-description, .related-items .product-thumb .thumb-description {
    float: right;
}

/* Extra pages RTL stylesheet */
.category-compare {
    float: right;
    margin: 6px 10px 0 0px;
}
.dropdown-menu.pull-right { left: 0; right: auto; }
#column-left .products-list .box-heading, #column-right .products-list .box-heading {
	text-align: right;
}
.store-list .store-tags > a { margin: 5px 0px 5px 10px; }
.store-list .store-tags > a.active-store > i { left: auto; right: -4px; }

/*footer .footer-column ul a:before { content:"\f104"; padding: 0 0 0 5px; float: right; }*/
.footer-column.footer-information {padding-right: 120px;}
.footer-column.footer-extras {padding-right: 90px;}
.modal-dialog .modal-header .close { float: left; }

.information-contact .contact-location .location-title i.fa { margin: 0 0 0 5px; }
.information-contact .contact-location div.row > div { float: right; }
.information-contact .contact-location .location-detail {margin: 0 40px 10px 0px;}

.alert button.close { float: left; }

/* checkout/cart Page */
.checkout-cart .sub-total-table { float: left; }
#accordion .panel-heading h4.panel-title a i.fa-caret-down { float: left; }
#accordion label.control-label { float: right; }
/* cart page*/
#cart .header-cart-toggle .text-right.price-total {
	 text-align: left;
}
#cart .table-bordered > thead > tr > th, #cart .table-bordered > tbody > tr > th, #cart .table-bordered > tfoot > tr > th, #cart .table-bordered > thead > tr > td, #cart .table-bordered > tbody > tr > td, #cart .table-bordered > tfoot > tr > td {
	 text-align: right;
}

/*.category-treeview a.list-group-item:before { content: '\f0d9'; padding: 0 0 0 5px; float: right; }*/
.category-treeview a.list-group-item.child-item:before, .category-list a.current-child-item:before { content: '\f104'; float: right; }
.category-treeview .list-group a.child-item, .category-treeview .list-group a.current-child-item{ margin-right:20px;}
.list-group a.child-item, .list-group a.current-child-item { padding-left: 0px; padding-right: 30px; }

.information-sitemap .col-sm-6 > ul,.information-sitemap #content ul ul { padding-left: 0px; padding-right: 15px; }
.category-filter .filter-sort-by { padding-left: 15px; padding-right: 0; }


.cart-form .input-group-btn { float: right; }

form fieldset .form-group div.col-sm-3 { float: right; }
.product-manufacturer .a-link-list div.col-sm-3 { float: right; }
#top-links .account-nav.dropdown{border-left:1px solid #d5d5d5;border-right:none;}

.header-right .header-phone {
    float: left;
    margin: 4px 30px 0 38px;
    background-position: right 2px;
    padding: 3px 54px 1px 0px;
    text-align: right;
}
.header-right .header-phone span{float: right;}
#form-language img {
	float: right;
	margin-right: 0px;
	margin-left: 8px;
}
#top .btn-link strong {
    float: right;
    margin: 0 3px 0 0;
}
#form-language .btn-link span, #form-currency .btn-link span,
.header_user_info > a .fa-user,.header_user_info .ezuserheading {
    float: right;
}
.header_user_info .ezuserheading {margin: 0 10px 0 5px;}

#form-language .language-toggle img {
    margin: 6px 0 0 7px;
}
#search.input-group.active .search_block_top_form {
	float: none;
}
.menu-container {
	float: right;
}
.cart-dot.cart-dot-sub{right:0px;}
.testimonial-desc {
    padding: 0 96px 0 10px;
}
#ezcmstestimonial .eztestimonial-content ul li .testimonial-content {
    text-align: right;
}
.test-img {float: right;}
.test-img::before {
    right: 0;
    left: auto;
}
.testimonial-user-title {
    float: right;
    text-align: right;
    padding-left: 0;
    padding-right: 8px;
}
.testimonial-desc::before {
    right: 16px;
    left: auto;
}
.payment-block {text-align: right;float: right;}
.footer-block .footer_desc {float: right;}
.payment-block ul li {
    float: left;
    margin-left: 0px;
    margin-right: 11px;
}
.payment-block ul {
    float: left;
}
.fa-angle-right {
    float: left;
}
/* ----------------------------- banner CSS Start ----------------------------------------------*/
#ezbanner2 .banner_inner .banner_desc .banner_btn{float: left;}

/* ----------------------------- banner CSS Start ----------------------------------------------*/

/* ----------------------------- services CSS Start ----------------------------------------------*/
.service {float: right;}
/* ----------------------------- services CSS Start ----------------------------------------------*/

/* ----------------------------- Search CSS Start ----------------------------------------------*/
header .ezsearch_active {
	float: none;
}
#search .input-lg {
    float: right;
    border-right: 1px solid #b7b7b7;
    border-left: none;
}
#search .btn-lg {
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
/* ----------------------------- Search CSS Start ----------------------------------------------*/
#menu ul.nav ul.list-unstyled li.dropdown > a::after {
	left: 10px;
	content: "\f104";
	right: auto;
}
#menu .list-unstyled.childs_1.mega-dropdown-menu .dropdown > a,
#menu .dropdown-inner a{
	text-align: right;
}
#menu ul > li.more-menu .megamenu.mega-dropdown-menu ul > li.dropdown > a:after{
	content: "\f104";
}

.header-content-image{left:0px;right:auto;}
.product-list .thumb-description{padding:0 20px 0 0;}
.btn-cart .tooltip{left:auto;right:-7px;}
.btn-compare .tooltip{left: 0;right: auto;}
.btn-wishlist .tooltip{left:9px;right:11px;}
.btn-cart .tooltip::before{left:auto;right:18px;}
.btn-wishlist .tooltip::before{left:50px;}
.btn-compare .tooltip::before{left:15px;right:auto;}
.product-list .btn-wishlist .tooltip::before{left:50px;}
.product-list .btn-wishlist .tooltip{left:98px;right:98px;}
.footer-column .contact-us .list-unstyled{margin:0px;}
#goToTop {
	left:20px;
	right:auto;
}
.Information .info_icon {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
#collapse-payment-address .pull-right {float: left !important;}
.history-image {float: right;}
@media (min-width: 992px) {
	#menu .more-menu .list-unstyled.childs_1 > li > a {
	    padding-right: 5px;
		padding-left: 15px;
	}
    #menu ul.nav > li.dropdown.more-menu > .dropdown-menu {
            left: 0;
            right: auto;
    }
}
@media (min-width:768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: right;
	}
}

#newsletter_inner .form-group .button-submit{left: 0;right: auto;}
.Ez-newsletter input[type="text"].form-control {
    padding: 6px 10px 6px 100px;
    float: right;
}   

/* --------------------------------- Footer Contact-us CSS Start ------------------------------------------ */
footer .footer-column {
	float: right;
    padding-right: 0;
    padding-left: 15px;
}
footer .contact-us ul li i {
	float: right;
    margin-left: 10px;
    margin-right: 0;
}
footer .contact-us {float: right;}
/* --------------------------------- Footer Social-CMS CSS Start ------------------------------------------ */
#followus ul li {
    margin: 0 0px 5px 12px;
    float: right;
}

/*------------------------------- Footer Bottom CSS Start ------------------------*/
footer .footer-bottom > p {
	float: right;
}
.footer-bottom .footer-column {
	float: left;
}
.footer_bottom_link{float: right;}
.footer_bottom_link ul.bottom_link,
.copyright{
    text-align: right;
    float: right;
}
.footer_bottom_link ul.bottom_link li {
    margin: 0 0 0 26px;
    float: right;
}
.footer_bottom_link ul.bottom_link li::before {
    left: -15px;
    right: auto;
}



/*------------------------ Responsive Part -----------------------------------------*/

@media (max-width: 1249px) {
    .header-right .header-phone {margin: 4px 10px 0;}

}

@media (min-width:768px) and (max-width:991px) {
.footer-right-cms .list-unstyled { margin: 0;}
}
@media (max-width: 991px) {
    #column-left,#column-right,.column-2.leftside_column #column-left,.column-2.rightside_column #column-right,.column-2 #content,
    .column-2.leftside_column #content,.column-2.rightside_column #content {padding: 0;}
    #menu ul.nav li .single-dropdown-menu ul.list-unstyled li.dropdown .dropdown-menu, 
    #menu ul.nav li.more-menu ul.list-unstyled li.dropdown .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        border:0;
        padding: 0;
    }
    #menu ul.nav > li.dropdown > .dropdown-menu, #menu ul.nav li.more-menu ul.list-unstyled li.dropdown .dropdown-menu {padding-left: 0;padding-right: 15px;}
    #menu .nav > li > a, #menu .nav > li > span {
        text-align:right;
    }
    #menu div.navbar-header span.bar {left: auto; right: 5px;}
    #menu div.navbar-header, #menu ul.nav li ul.list-unstyled.mega-dropdown-menu > li.dropdown .dropdown-menu {
        width:100%;
    }
    .footer-right-cms .contact-address {
        padding:0 10px;
    }
    footer .footer-column h5.toggle a:after {text-align: left;}
    footer .footer-column h5.toggle,
    #footer-right ul li,
    footer .footer-column .list-unstyled {
        text-align: right;
    }
    .option-filter-box a.list-group-item {
    padding: 10px 0;
    text-transform: uppercase;
    }
    footer .footer-column{padding: 0;}
    #column-left .panel-heading, 
    #column-right .panel-heading, 
    #column-left .box-heading > h3, 
    #column-right .box-heading > h3{
        text-align:right;
    }
    #column-left .toggle:after,
    #column-right .toggle:after {
    right: auto;
    left: 0;
    }
    #column-left .product-thumb .thumb-description, 
    #column-right .product-thumb .thumb-description{
        float:right;
    }
    .category-treeview .list-group a.child-item, .category-treeview .list-group a.current-child-item{
        margin:0;
    }
    #goToTop {left: 15px;}
    #newsletter_inner .button-submit .btn-danger { display: inline-block;width: auto;float: right;}


    #ezbanner1, #ezbanner2 {float: none;}
    .footer_bottom_link ul.bottom_link, .copyright,.payment-block {text-align: center;}
    .footer_bottom_link ul.bottom_link li,.payment-block ul { float: none;}
    .header-right .header-phone {margin: 8px 20px 0;padding: 0;}
}
@media (max-width: 767px) {
    .form-horizontal .control-label, .form-group > div { float: none; }
    #form-language img {margin-left: 3px;}
    .header_user_info > a .fa-user {margin: 0 0 0 5px;}
    .ezsearch {float: right;}
    .category-filter .filter-show {margin-right: 0;margin-left: 15px;}
    .EZProduct-Tab .nav-tabs > li {float: none;}
    .ezcart #cart .cart-detail {padding: 0;}
    #top .btn-link strong {margin: 0;}
}
@media (max-width:543px) {

}
@media (max-width: 480px) {
    .category-filter .filter-sort-by {margin-right: 0;}
    .product-product .product-details .btn-group > button {margin: 0 0px 5px 13px;}
    .rating .product-rating {margin: 0 0 10px 0;}

    .testimonial-user-title {padding: 0;}
}