{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <h1 id="kontakt-nadpis">{{ heading_title }}</h1>
    <div id="content" class="{{ class }} kontakt-obsah">{{ content_top }}
      <!--<h1>{{ heading_title }}</h1>-->
      {#<h3>{{ text_location }}</h3>#}
      <div class="panel panel-default contact-location">
        <div class="panel-body">
          <div class="row">

            {% if image %}
            <div class="col-sm-12 store-image"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" /></div>
            {% endif %}

            <div class="col-sm-6 store-address">
             <div class="location-title"><i class='fa fa-home'></i> {{ store }} </div>
             <address class="location-detail">
              {{ address }}
            </address>
            {% if geocode %}
            {#<a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
            {% endif %}
          </div>

          <div class="col-sm-6 store-phone">
           <div class="location-title"><i class='fa fa-phone'></i> {{ text_telephone }} </div>
           <div class="location-detail"><a href="tel:{{ telephone }}"> {{ telephone }}</a> </div>
         </div>

         {% if fax %}
          <div class="col-sm-6 store-fax">
           <div class="location-title"><i class='fa fa-fax'></i> {{ text_fax }} </div>
           <div class="location-detail">{{ fax }} </div>
         </div>
         {% endif %}

         {% if open %}
         <div class="col-sm-6 store-status">
          <div class="location-title"><i class='fa fa-clock-o'></i>  {{ text_open }} </div>
          <div class="location-detail"> {{ open }} </div>
          
        </div>
        {% endif %}

        {% if comment %}
        <div class="col-sm-6 store-comment">
          <div class="location-title"><i class='fa fa-comment'></i> {{ text_comment }} </div>
          <div class="location-detail"> {{ comment }} </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
  {% if locations %}
  <h3>{{ text_store }}</h3>
  <div class="panel-group" id="accordion">
    {% for location in locations %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
      </div>
      <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
        <div class="panel-body">
          <div class="row">
            {% if location.image %}
            <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>
            {% endif %}
            <div class="col-sm-3"><strong>{{ location.name }}</strong><br />
              <address>
                {{ location.address }}
              </address>
              {% if location.geocode %}
              <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
              {% endif %}
            </div>
            <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>
              {{ location.telephone }}<br />
              <br />
              {% if location.fax %}
              <strong>{{ text_fax }}</strong><br>
              {{ location.fax }}
              {% endif %}
            </div>
            <div class="col-sm-3">
              {% if location.open %}
              <strong>{{ text_open }}</strong><br />
              {{ location.open }}<br />
              <br />
              {% endif %}
              {% if location.comment %}
              <strong>{{ text_comment }}</strong><br />
              {{ location.comment }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
    <fieldset>
      <legend>{{ text_contact }}</legend>
      <div class="form-group required">
        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
        <div class="col-sm-10">
          <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
          {% if error_name %}
          <div class="text-danger">{{ error_name }}</div>
          {% endif %}
        </div>
      </div>
      <div class="form-group required">
        <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
        <div class="col-sm-10">
          <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
          {% if error_email %}
          <div class="text-danger">{{ error_email }}</div>
          {% endif %}
        </div>
      </div>
      <div class="form-group required">
        <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
        <div class="col-sm-10">
          <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
          {% if error_enquiry %}
          <div class="text-danger">{{ error_enquiry }}</div>
          {% endif %}
        </div>
      </div>
      {{ captcha }}
    </fieldset>
    <div class="buttons">
      <div class="pull-right">
        <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
      </div>
    </div>
  </form>
{{ content_bottom }}</div>
{{ column_right }}</div>
</div>
{{ footer }}
