{{ header }}
<div id="product-search" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
  	{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
     {{ content_top }}
     <h1>{{ heading_title }}</h1>
     {% if products %}
     <!-- Category filter START -->
      <div class="category-filter">
         <div class="col-md-2 filter-grid-list">
          <div class="btn-group">
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
          </div>
        </div>
        <div class="category-compare"><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></div>
        <div class="sortby_show">
        <div class="filter-sort-by">
          <div class="col-md-3 text-right filter-text">
            <label class="control-label" for="input-sort">{{ text_sort }}</label>
          </div>
          <div class="col-md-9 text-right filter-selection">
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="filter-show">
          <div class="col-md-4 text-right filter-text">
            <label class="control-label" for="input-limit">{{ text_limit }}</label>
          </div>
          <div class="col-md-8 text-right filter-selection">
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      </div>
    
    <!-- special products START -->
    <div class="category-products">
      <div class="row">
        {% for product in products %}
          <div class="product-layout product-list col-xs-12">
              <div class="product-thumb row">
                <div class="image">
                 {% if product.thumb_swap %}
                 <a href="{{ product.href }}">
                  <img class="image_thumb" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
                  <img class="image_thumb_swap" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}" />
                </a>
                {% else %}
                <a href="{{ product.href }}">
                  <img class="img-responsive" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                </a>
                {% endif %}
                {% if product.special %}
                <div class="sale-icon">Sale</div>
                {% endif %}
                {% if product.rating %}
                <div class="rating">
                    {% for i in 1..5 %}
                    {% if product.rating < i %}
                    <span class="fa fa-stack"><i class="fa fa-star-o off fa-stack-2x"></i></span>
                    {% else %}
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                <div class="button-group">
                    <button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                      <span class="addtocart">{{ button_cart }}</span>
                    </button>
                    <button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i>
                      <span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
                    </button>
                    <button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-sliders" aria-hidden="true"></i>
                      <span title="{{ button_compare }}">{{ button_compare }}</span>
                    </button>
                  </div>
              </div>
              <div class="thumb-description">
                <div class="caption">
                  <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                  {% if product.rating %}
                  <div class="rating list">
                    {% for i in 1..5 %}
                    {% if product.rating < i %}
                    <span class="fa fa-stack"><i class="fa fa-star-o off fa-stack-2x"></i></span>
                    {% else %}
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                  <p class="description">{{ product.description }}</p>

                  {% if product.price %}
                  <div class="price">
                    {% if not product.special %}
                    {{ product.price }}
                    {% else %}
                    <span class="price-new">{{ product.special }}</span>
                    <div class="percentage"> -{{ product.saving|default }}%</div>
                    <span class="price-old">{{ product.price }}</span>
                    {% endif %}
                    {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %}
                  </div>
                  {% endif %}
                <div class="button-group list">
                  <button class="btn-cart" type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <span class="addtocart">{{ button_cart }}</span>
                  </button>
                  <button class="btn-wishlist" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i>
                    <span title="{{ button_wishlist }}">{{ button_wishlist }}</span>
                  </button>
                  <button class="btn-compare" title="{{ button_compare }}"  onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-sliders" aria-hidden="true"></i>
                    <span title="{{ button_compare }}">{{ button_compare }}</span>
                  </button>
                </div>
                </div>
             </div>   
           </div>
          </div>
      {% endfor %}
    </div>
  </div>
  <!-- special products END -->
  
  <!-- special pagination START -->
  <div class="category-pagination">
   <div class="col-sm-6 text-left">{{ results }}</div>
   <div class="col-sm-6 text-right">{{ pagination }}</div>
 </div>
 <!-- special pagination END -->
 {% else %}
 <p>{{ text_empty }}</p>
 <div class="buttons">
  <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
</div>
{% endif %}
{{ content_bottom }}</div>
{{ column_right }}</div>
</div>
{{ footer }}